// font-family: 'Monda', sans-serif;
// font-family: 'Dosis', sans-serif; (Néons)
@import 'animations';
@import 'variables';
//
@mixin center {
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* ---- reset ---- */

.test {
    width: 100%;
    position: absolute;
    text-align: center;
    h1 {
        @include center();
        font-family: $dosis;
        font-weight: 600;
        text-shadow: 1px 1px 1px $bleu, -1px -1px 1px $rose, 1px -1px 1px $bleu, -1px 1px 1px $rose, 1px 1px 3px $bleu, -1px -1px 3px $rose, 1px -1px 3px $bleu, -1px 1px 3px $rose, 1px 1px 10px $bleu, -1px -1px 10px $rose, 1px -1px 10px $bleu, -1px 1px 10px $rose, 1px 1px 30px $bleu-tr1, -1px -1px 30px $rose-tr1, 1px -1px 30px $bleu-tr1, -1px 1px 30px $rose-tr1, 1px 1px 60px $bleu-tr2, -1px -1px 60px $rose-tr2, 1px -1px 60px $bleu-tr2, -1px 1px 60px $rose-tr2;
        animation: bright 0.3s infinite;
    }
    a {
        text-decoration: none;
        color: white;
        position: absolute;
    }
    h2 {
        font-family: $monda;
        text-transform: uppercase;
        font-size: 1em;
    }
    .h2 {
        text-decoration: none;
        color: white;
        position: absolute;
    }
    .about {
        top: 50vh;
        left: 20vw;
        @include center();
    }
    .contact {
        top: 90vh;
        left: 50vw;
        @include center();
        padding-right: 20px;
        padding-left: 20px;
        z-index: 1;
    }
    .projects {
        top: 50vh;
        left: 80vw;
        @include center();
    }
    img {
        position: absolute;
        top: 50vh;
        left: 50vw;
        width: 15%;
        @include center();
    }
    //SVG MODIFICATIONS
    svg {
        width: 15%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    #cheveux {
        opacity: 0;
    }
    #moustache {
        opacity: 0;
    }
    #barbe {
        opacity: 0;
    }
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #101010;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
}

canvas {
    display: block;
}