$monda:'Monda',
sans-serif;
$dosis:'Dosis',
sans-serif;
$rose: #F400FF;
$bleu: #0064FF;
$rose-tr1: rgba(242, 0, 255, 0.75);
$bleu-tr1: rgba(0, 102, 255, 0.75);
$rose-tr2: rgba(242, 0, 255, 0.40);
$bleu-tr2: rgba(0, 102, 255, 0.40);