#benty {
  animation: flottement 2.2s infinite;
  animation-timing-function: ease-out;
  z-index: 2; }

@keyframes flottement {
  0% {
    transform: translateY(40%); }
  50% {
    transform: translateY(55%); }
  100% {
    transform: translateY(40%); } }

@keyframes bright {
  0% {
    filter: brightness(50%); }
  50% {
    filter: brightness(80%); }
  75% {
    filter: brightness(75%); }
  100% {
    filter: brightness(100%); } }

.about-index:hover {
  background: -webkit-linear-gradient(left, #F400FF, #0064FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.4s; }

.about-index::before {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: -webkit-linear-gradient(left, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.about-index::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: -webkit-linear-gradient(left, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.about-index:hover::before {
  content: "";
  display: block;
  width: 250%;
  height: 3px;
  background: -webkit-linear-gradient(left, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.about-index:hover::after {
  content: "";
  display: block;
  width: 250%;
  height: 3px;
  background: -webkit-linear-gradient(left, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.projects-index:hover {
  background: -webkit-linear-gradient(right, #F400FF, #0064FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.4s; }

.projects-index::before {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: -webkit-linear-gradient(right, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  position: absolute;
  right: 0%; }

.projects-index::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background: -webkit-linear-gradient(right, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  position: absolute;
  right: 0%; }

.projects-index:hover::before {
  content: "";
  display: block;
  width: 250%;
  height: 3px;
  background: -webkit-linear-gradient(right, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.projects-index:hover::after {
  content: "";
  display: block;
  width: 250%;
  height: 3px;
  background: -webkit-linear-gradient(right, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.contact-index:hover {
  background: -webkit-linear-gradient(bottom, #F400FF, #0064FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.4s; }

.contact-index::before {
  content: "";
  display: block;
  width: 3px;
  height: 0px;
  background: -webkit-linear-gradient(bottom, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  position: absolute;
  bottom: 0%;
  left: 0%; }

.contact-index::after {
  content: "";
  display: block;
  width: 3px;
  height: 0px;
  background: -webkit-linear-gradient(bottom, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  position: absolute;
  bottom: 0%;
  right: 0%; }

.contact-index:hover::before {
  content: "";
  display: block;
  width: 3px;
  height: 200%;
  background: -webkit-linear-gradient(bottom, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.contact-index:hover::after {
  content: "";
  display: block;
  width: 3px;
  height: 200%;
  background: -webkit-linear-gradient(bottom, #F400FF, #0064FF);
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

/* ---- reset ---- */
.test {
  width: 100%;
  position: absolute;
  text-align: center; }
  .test h1 {
    transform: translate(-50%, -50%);
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4);
    animation: bright 0.3s infinite; }
  .test a {
    text-decoration: none;
    color: white;
    position: absolute; }
  .test h2 {
    font-family: "Monda", sans-serif;
    text-transform: uppercase;
    font-size: 1em; }
  .test .h2 {
    text-decoration: none;
    color: white;
    position: absolute; }
  .test .about-index {
    top: 50vh;
    left: 20vw;
    transform: translate(-50%, -50%); }
  .test .contact-index {
    top: 90vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding-right: 20px;
    padding-left: 20px;
    z-index: 1; }
  .test .projects-index {
    top: 50vh;
    left: 80vw;
    transform: translate(-50%, -50%); }
  .test img {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 15%;
    transform: translate(-50%, -50%); }
  .test svg {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%); }
  .test #cheveux {
    opacity: 0; }
  .test #moustache {
    opacity: 0; }
  .test #barbe {
    opacity: 0; }
  .test svg {
    overflow: visible; }

.about-me {
  width: 100%;
  position: absolute; }
  .about-me h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4); }
  .about-me p {
    color: white;
    font-family: "Monda", sans-serif;
    font-size: 0.8em; }
  .about-me .neon-benty {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4);
    width: 30px;
    margin-left: 50px;
    font-size: 1em; }
  .about-me .benty {
    text-align: center;
    text-transform: uppercase; }
  .about-me a {
    text-decoration: none; }
  .about-me .block-description {
    width: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); }
    .about-me .block-description p {
      width: 50%; }
    .about-me .block-description .photo {
      width: 50%; }
    .about-me .block-description img {
      width: 100%;
      -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }

.contact {
  width: 100%;
  position: absolute; }
  .contact h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4); }
  .contact p {
    color: white;
    font-family: "Monda", sans-serif;
    font-size: 0.8em; }
  .contact .neon-benty {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4);
    width: 30px;
    margin-left: 50px;
    font-size: 1em; }
  .contact .benty {
    text-align: center;
    text-transform: uppercase; }
  .contact a {
    text-decoration: none; }
  .contact .formulaire {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); }
  .contact label {
    color: white; }
  .contact .input {
    border: 1px solid white; }

.projects {
  width: 100%;
  position: absolute; }
  .projects h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4); }
  .projects p {
    color: white;
    font-family: "Monda", sans-serif;
    font-size: 0.8em; }
  .projects .neon-benty {
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-shadow: 1px 1px 1px #0064FF, -1px -1px 1px #F400FF, 1px -1px 1px #0064FF, -1px 1px 1px #F400FF, 1px 1px 3px #0064FF, -1px -1px 3px #F400FF, 1px -1px 3px #0064FF, -1px 1px 3px #F400FF, 1px 1px 10px #0064FF, -1px -1px 10px #F400FF, 1px -1px 10px #0064FF, -1px 1px 10px #F400FF, 1px 1px 30px rgba(0, 102, 255, 0.75), -1px -1px 30px rgba(242, 0, 255, 0.75), 1px -1px 30px rgba(0, 102, 255, 0.75), -1px 1px 30px rgba(242, 0, 255, 0.75), 1px 1px 60px rgba(0, 102, 255, 0.4), -1px -1px 60px rgba(242, 0, 255, 0.4), 1px -1px 60px rgba(0, 102, 255, 0.4), -1px 1px 60px rgba(242, 0, 255, 0.4);
    width: 30px;
    margin-left: 50px;
    font-size: 1em; }
  .projects .benty {
    text-align: center;
    text-transform: uppercase; }
  .projects a {
    text-decoration: none; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #101010;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0; }

canvas {
  display: block; }
